.featured-text {
	position: relative;
	padding-top: 5rem;
	padding-bottom: 5rem;
	background-image: url('../../assets/forest-canopy-wide-shot_1920x1280.jpg');
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	&::before {
		content: "";
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		background-color: rgba(0, 0, 0, 0.55);
	}
	&__text-container {
		position: relative;
		width: 100%;
		max-width: $width-wide;
		margin: auto;
	}
	&__text {
		font-family: 'Harriet Display';
		font-size: 4rem;
		font-weight: 300;
		color: $color-white;
	}
	&__attribution {
		margin-top: 1rem;
		font-family: 'Bebas Neue';
		font-size: 1.125rem;
		color: $color-gold;
	}
}
