.info-bar {
	position: fixed;
	width: 100%;
	top: -46px;
	left: 0;
	border-bottom: 1px solid $color-gold;
	background-color: $color-white;
	z-index: 5;
	transition: top 0.25s;
	&.show {
		top: 0;
	}
	&__text {
		padding-top: 0.5rem;
		padding-bottom: 0.5rem;
		font-size: 0;
		text-align: center;
	}
	&__title {
		display: inline-block;
		margin-right: 1rem;
		font-family: 'Harriet Display';
		font-size: 1.25rem;
		font-weight: 300;
		color: $color-gray;
	}
	&__length {
		display: inline-block;
		font-size: 0.875rem;
		font-weight: 500;
		color: $color-gold;
	}
	&__progress-bar {
		display: block;
		width: 0;
		height: 4px;
		margin-bottom: -1px;
		background-color: $color-red;
		transition: width 0.25s linear;
	}
}