.sticky-share {
    position: sticky;
    position: -webkit-sticky;
    top: 11.75rem;
    left: 0;
    max-width: $width-full;
    margin: auto;
    z-index: 10;
    height: 0;

    &-menu {
        margin-top: 1rem;
    }
}