.video {
    max-width: $width-full;
    margin: auto;
    display: flex;
    flex-direction: column;
    margin-bottom: 4.5rem;

    &__player {
        width: 100%;
        height: auto;
        filter: saturate(0);
        -webkit-filter: saturate(0);
        transition: filter 4s ease;

        &#{$selector-entered-viewport} {
            filter: saturate(1);
            -webkit-filter: saturate(1);
        }
    }

    &__caption {
        margin: 1rem 3.75rem 0;
        color: $color-gray-light;
        font-size: 12px;
        line-height: 1.33;
        display: block;
    }

    &__button {
        background-color: transparent;
        width: 1rem;
        height: 1rem;
        border-radius: 50%;
        padding: 5px;
    }
}