.img-caption {
    width: 100%;
    max-width: $width-wide;
    margin: 0 auto 4.5rem;
    opacity: 0;
    transform: translateY(2.5rem);
    transition: opacity 0.5s ease 0.1s, transform 0.5s ease 0.1s;
    &#{$selector-entered-viewport} {
        opacity: 1;
        transform: translateY(0);
    }

    &__image {
        width: 100%;
        margin-bottom: 1rem;
    }

    &__caption {
        font-size: .75rem;
        line-height: 1.33;
        color: $color-gray-light;
    }
}