body {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans'
}

#root {}

.persistent-header {
	padding: 2rem;
	background-color: #222222;
}
.persistent-header__logo {
	display: block;
	max-width: 3rem;
	margin: auto;
}












.header__color-block {
  position: relative;
  height: 500px;
  background-color: #000000;
  overflow: hidden; }

.header__left-container {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 0 0 auto;
  height: 100%;
  width: 50%;
  top: 0;
  left: 0;
  margin-left: 25%;
  text-align: center;
  background-color: #000000;
  transition: margin-left 0.5s ease-in-out 0.75s;
  z-index: 2; }
  .header.entered-viewport .header__left-container {
    margin-left: 0; }

.header__content-container {
  position: relative;
  width: 400px;
  padding: 1rem; }

.header__text-container {
  color: #ffffff; }

.header__subtitle {
  font-family: 'Bebas Neue';
  opacity: 0;
  transition: opacity 0.5s ease 0.75s; }
  .header.entered-viewport .header__subtitle {
    opacity: 1; }

.header__title {
  margin-top: 1rem;
  margin-bottom: 2rem;
  font-family: 'Harriet Display';
  font-size: 2.5rem;
  font-weight: 300; }

.header__title-word {
  display: inline-block;
  opacity: 0;
  transform: translateY(0.5rem);
  transition: opacity 0.25s, transform 0.25s; }
  .header.entered-viewport .header__title-word {
    opacity: 1;
    transform: translateY(0); }
  .header__title-word:nth-child(1) {
    transition-delay: 0s; }
  .header__title-word:nth-child(2) {
    transition-delay: 0.1s; }
  .header__title-word:nth-child(3) {
    transition-delay: 0.2s; }
  .header__title-word:nth-child(4) {
    transition-delay: 0.3s; }
  .header__title-word:nth-child(5) {
    transition-delay: 0.4s; }

.header__description {
  font-family: 'Open Sans';
  font-size: 1rem;
  opacity: 0;
  transition: opacity 0.5s ease 0.75s; }
  .header.entered-viewport .header__description {
    opacity: 1; }

.header__right-container {
  position: absolute;
  display: flex;
  flex: 0 0 auto;
  width: 50%;
  height: 100%;
  top: 0;
  right: 0;
  z-index: 1; }

.header__image-color-block {
  width: 50%;
  height: 100%;
  background-color: #baa682;
  transition: width 0.5s ease-in-out 0.9s; }
  .header.entered-viewport .header__image-color-block {
    width: 0; }

.header__image-area {
  position: relative;
  width: 50%;
  height: 100%;
  opacity: 0;
  transition: width 0.5s ease-in-out 0.9s, opacity 0.5s linear 0s; }
  .header.entered-viewport .header__image-area {
    width: 100%;
    opacity: 1; }

.header__image {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transform: scale(1.15);
  transition: left 0.5s linear 0.9s, margin-left 2s ease-out 1.3s; }
  .header.entered-viewport .header__image {
    left: 6%;
    margin-left: -6%; }

.header__caption-container {
  display: flex;
  justify-content: flex-end; }

.header__caption {
  max-width: 50%;
  padding-top: 0.5rem;
  padding-right: 0.75rem;
  font-size: 0.75rem;
  color: #666666; }


















.paragraph--body-content {
	width: 100%;
  max-width: 33.75rem;
  margin: 2.5rem auto;
}
.paragraph--body-content p {
	font-size: 1rem;
  line-height: 1.725;
  color: #070707;
}

.paragraph--image {
	width: 100%;
	max-width: 60rem;
	margin: 4.5rem auto;
}
.paragraph--image img {
	width: 100%;
	max-width: 100%;
}

[data-accordion-item-state="closed"] [data-accordion="content"] {
	/* Hide content when the item is closed. */
	visibility: hidden
}
[data-accordion="content"] {
	/* Prevent the content from overflowing the parent. */
	overflow: hidden;
}
[data-accordion="content-inner"] {
	/* Margins will cause incorrect dimension calculations. */
	margin-top: 0;
	margin-bottom: 0;
	margin-left: 0;
	margin-right: 0;
	/* Force element to account for children margins in dimensions. */
	overflow: auto;
}
.paragraph--accordion {
	width: 100%;
	max-width: 60rem;
	margin: 4.5rem auto;
	list-style: none;
	padding: 0;
}
.paragraph--accordion__item {
	margin: 1rem auto;
}
.paragraph--accordion__trigger {
	width: 100%;
	border: 1px solid black;
	font-size: 1rem;
  line-height: 1.725;
	text-align: left;
  color: #070707;
	background-color: transparent;
	cursor: pointer;
	transition-property: color, background-color;
	transition-duration: 0.25s;
}
.paragraph--accordion__content {
	transition-property: height;
	transition-duration: 0.25s;
}
.paragraph--accordion__trigger:hover,
.paragraph--accordion__item[data-accordion-item-state="opening"] .paragraph--accordion__trigger,
.paragraph--accordion__item[data-accordion-item-state="opened"] .paragraph--accordion__trigger {
	color: white;
	background-color: #8d182e;
}